:root {
  --blue: #25363e;
  --brown: #7e5535;
  --beige: #a2774c;
  --gold: #dcae56;
  --cru: #fbe8bd;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

video {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  filter: blur(4px);
  width: 100%;
}

.section form {
  text-align: center;
  font-size: 6rem;
  font-family: "Oxygen";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.5;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  z-index: -1;

}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: lightgrey; */
  width: 100%;
  height: 100vh;
  /* opacity: 0.5; */
}
