:root {
  --blue: #25363e;
  --brown: #7e5535;
  --beige: #a2774c;
  --gold: #dcae56;
  --cru: #fbe8bd;
}
header {
    background-color: var(--gold);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
    font-family: 'Oxygen'
}

header li a {
    color: black;
    text-decoration: none;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

video {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  filter: blur(4px);
  width: 100%;
}

.section form {
  text-align: center;
  font-size: 6rem;
  font-family: "Oxygen";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  z-index: -1;

}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: lightgrey; */
  width: 100%;
  height: 100vh;
  /* opacity: 0.5; */
}

input[type="text"] {
  width: 100%;
  height: 20px;
  background: var(--cru);
  box-shadow: 2px 2px var(--blue);
  font-family: 'Oxygen';
  color: black;
  border: 0px;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  outline: none;
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 25px;
  background: var(--cru);
  box-shadow: 2px 2px var(--blue);
  font-family: 'Oxygen';
  color: black;
  border: 0px;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  outline: none;
  margin-top: 10px;
}

input[type="submit"] {
  width: 100%;
  height: 25px;
  background: var(--cru);
  box-shadow: 2px 2px var(--blue);
  font-family: 'Oxygen';
  color: #4f5b62;
  border: 0px;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  color: var(--blue);
  margin-top: 40px;
  outline: none;
}
